<div>
  <div th:if="${message != null}" th:insert="fragments/message"></div>
  <form
    method="post"
    action="#"
    th:action="@{/users/register}"
    th:object="${userForm}"
  >
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        required
        th:field="*{name}"
      />
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        required
        th:field="*{email}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
