<div>
  <div th:if="${message != null}" th:insert="fragments/message"></div>
  <form method="post" action="#" th:action="@{/signin}">
    <div class="mb-3">
      <label for="username" class="form-label">Email address</label>
      <input type="email" class="form-control" name="username" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" required />
    </div>
    <button type="submit" class="btn btn-primary">Signin</button>
  </form>
</div>
