<div>
  <div th:if="${message != null}" th:insert="fragments/message"></div>
  <form
    th:method="put"
    action="#"
    th:action="@{/users/update/{id}(id = ${id})}"
    th:object="${updateForm}"
  >
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        th:field="*{name}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        th:field="*{email}"
        disabled
      />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
