<div th:unless="${transactionsImport.isEmpty}">
  <div class="border-top" style="width: 750px;"></div>
  <div class="d-flex justify-content-center">
    <h5 class="pt-3"><b>PERFORMED IMPORTS</b></h5>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Transactions Date</th>
        <th scope="col">Import Date</th>
        <th scope="col">User</th>
      </tr>
      <tbody>
        <tr th:each="import : ${transactionsImport}">
          <td><span th:text="${#temporals.format(import.transactionsDate, 'dd/MM/yyyy')}"></span></td>
          <td><span th:text="${#temporals.format(import.importDateTime, 'dd/MM/yyyy HH:mm:ss')}"></span></td>
          <td><span th:text="${import.username}"></span></td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>
