<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">BANK</th>
      <th scope="col">BRANCH</th>
      <th scope="col">VALUE</th>
      <th scope="col">TYPE</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="branch : ${suspiciousBranches}">
      <td><span th:text="${branch.bankName}"></span></td>
      <td><span th:text="${branch.branchNumber}"></span></td>
      <td>
        <span
          th:text="${'R$ '+#numbers.formatDecimal(branch.value,3,'POINT',2,'COMMA')}"
        ></span>
      </td>
      <td><span th:text="${branch.type}"></span></td>
    </tr>
  </tbody>
</table>
