<div class="d-flex justify-content-center">
  <div th:if="${users.isEmpty}">Nothing to see here!</div>
</div>
<div th:unless="${users.isEmpty}">
  <div class="d-flex justify-content-center">
    <h2 class="pt-2 pb-4"><b>USUÀRIOS CADASTRADOS</b></h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">OPTIONS</th>
      </tr>
      <tbody>
        <tr th:each="user : ${users}">
          <td><span th:text="${user.id}"></span></td>
          <td><span th:text="${user.name}"></span></td>
          <td><span th:text="${user.email}"></span></td>
          <td>
            <button class="btn btn-info">Editar</button> 
            <form action="#" th:method="delete" th:action="@{/users/{id}(id = ${user.id})}">
              <button type="submit" class="btn btn-danger">Remover</button>
            </form>
          </td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>