<div class="d-flex justify-content-center">
  <div th:if="${users.isEmpty}" class="pt-2 pb-4">Nothing to see here!</div>
</div>
<div th:unless="${users.isEmpty}">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">OPTIONS</th>
        <th scope="col">ENABLED</th>
      </tr>
      <tbody>
        <tr th:each="user : ${users}">
          <td><span th:text="${user.id}"></span></td>
          <td><span th:text="${user.name}"></span></td>
          <td><span th:text="${user.email}"></span></td>
          <td>
            <div class="d-flex flex-row">
              <a
              href="#"
              th:href="@{/users/update/{id}(id = ${user.id})}"
              class="btn btn-info"
              th:text="Edit"
              ></a>
              <form class="ms-1" action="#" th:method="delete" th:action="@{/users/{id}(id = ${user.id})}">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </td>
          <td><span th:text="${user.enabled}"></span></td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>