<div th:unless="${transactionsImport.isEmpty}">
  <h3>IMPORTAÇÕES REALIZADAS</h3>
  <table>
    <thead>
      <tr>
        <th>Data Transações</th>
        <th>Data Importação</th>
      </tr>
      <tbody>
        <tr th:each="import : ${transactionsImport}">
          <td><span th:text="${#temporals.format(import.transactionsDate, 'dd/MM/yyyy')}"></span></td>
          <td><span th:text="${#temporals.format(import.importDateTime, 'dd/MM/yyyy HH:mm:ss')}"></span></td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>
