<nav class="navbar navbar-dark bg-dark mb-3">
  <div class="container-fluid d-flex justify-content-start">
    <div class="nav-item">
      <a
        class="nav-link link-light"
        aria-current="page"
        th:href="@{/transactions}"
        >Import</a
      >
    </div>
    <div class="nav-item">
      <a class="nav-link link-light" th:href="@{/users}">Users</a>
    </div>
    <div class="nav-item">
      <a class="nav-link link-light" th:href="@{/logout}">Logout</a>
    </div>
  </div>
</nav>
