<div>
  <div class="d-flex justify-content-center">
    <h2><b>IMPORTAR TRANSAÇÕES</b></h2>
  </div>
  <div th:if="${message != null}" th:insert="fragments/message"></div>
  <form
    class="row g-2"
    method="post"
    enctype="multipart/form-data"
    action="/transactions"
  >
    <div>
      <input
        class="form-control"
        id="formFile"
        type="file"
        name="file"
        accept=".csv"
        required
      />
    </div>
    <div>
      <button type="submit" class="btn btn-primary mb-3">Importar</button>
    </div>
  </form>
</div>
