<div>
  <h2>IMPORTAR TRANSAÇÕES</h2>
  <div th:if="${message != null}" th:insert="fragments/message"></div>
  <form
    class="row g-3"
    method="post"
    enctype="multipart/form-data"
    action="/transactions"
  >
    <!-- <input type="file" name="file" accept=".csv" required /> -->
    <!-- <button type="submit">Importar</button> -->
    <div class="col-auto">
      <!-- <label for="formFile" class="form-label">Transactions file</label> -->
      <input
        class="form-control"
        id="formFile"
        type="file"
        name="file"
        accept=".csv"
        required
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Importar</button>
    </div>
  </form>
</div>
