<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Analyzer</title>
  </head>
  <body>
    <h3>IMPORTAR TRANSAÇÕES</h3>
    <form method="post" enctype="multipart/form-data" action="/transaction">
      <input type="file" name="file" accept=".csv" />
      <button type="submit">Importar</button>
    </form>
  </body>
</html>
